.magicEightBall {
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

    &-black {
        background-color: black;
    }

    &-green {
        background-color: green;
    }

    &-red {
        background-color: red;
    }

    &-goldenrod {
        background-color: goldenrod;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    
    &:active {
        transform: scale(0.9); // Decreases size when clicked
    }

    &:focus {
        outline: none; // Removes focus outline after click
    }
}